<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script data-main="scripts/app/config.js" type="text/javascript" src="~/lib/requirejs/require.js"></script>
</head>
<body>
    <h1>Setup project</h1>
</body>
</html>